In [1]:
## Covid_19 Swiss Data Analysi

In [92]:
#Step
import pandas as pd
pd.plotting.register_matplotlib_converters()
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from scipy.optimize import curve_fit
print("Setup Complete")

Setup Complete

In [111]:
#Load Data
path = ('/home/micatske/covid-analysis/COVID19_Fallzahlen_CH_total_v2.csv')
 
df_swiss = pd.read_csv(path)
df_swiss.shape
df_swiss=df_swiss.drop(['time','source'],axis=1)
df_swiss.head()
df_swiss=df_swiss.rename(columns={'abbreviation_canton_and_fl':'cantons'})
df_swiss.head()

,date,cantons,ncumul_tested,ncumul_conf,new_hosp,current_hosp,current_icu,current_vent,ncumul_released,ncumul_deceased,current_isolated,current_quarantined,current_quarantined_riskareatravel,current_quarantined_total
0,2020-01-01,GE,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN
1,2020-01-02,GE,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN
2,2020-01-03,GE,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN
3,2020-01-04,GE,NaN,1.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN
4,2020-01-05,GE,NaN,5.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN

In [112]:
#Cleaning Data, check missing Values
df_swiss.isnull().sum()

date                                      0
cantons                                   0
ncumul_tested                         14378
ncumul_conf                             287
new_hosp                              13684
current_hosp                           2473
current_icu                            4249
current_vent                          10035
ncumul_released                        9459
ncumul_deceased                         941
current_isolated                       8134
current_quarantined                    8231
current_quarantined_riskareatravel    10742
current_quarantined_total             14617
dtype: int64

In [113]:


#For missing ncumul_*,current_*, we fill NaN forward and with 0.
col_ncumul=['ncumul_tested','ncumul_conf','ncumul_released','ncumul_deceased']
df_swiss[col_ncumul]=df_swiss[col_ncumul].fillna(method='ffill').fillna(0)
#For missing  we fill NaN with 0
col_current=['current_hosp','current_icu','current_vent','current_isolated','current_quarantined','current_quarantined_riskareatravel','current_quarantined_total']
df_swiss[col_current]=df_swiss[col_current].fillna(method='ffill').fillna(0)
#For missing new_hosp, we fill NAN with 0
df_swiss['new_hosp']=df_swiss['new_hosp'].fillna(0)
df_swiss.head()

,date,cantons,ncumul_tested,ncumul_conf,new_hosp,current_hosp,current_icu,current_vent,ncumul_released,ncumul_deceased,current_isolated,current_quarantined,current_quarantined_riskareatravel,current_quarantined_total
0,2020-01-01,GE,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-01-02,GE,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-01-03,GE,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-01-04,GE,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-01-05,GE,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [114]:
df_swiss.isnull().sum()

date                                  0
cantons                               0
ncumul_tested                         0
ncumul_conf                           0
new_hosp                              0
current_hosp                          0
current_icu                           0
current_vent                          0
ncumul_released                       0
ncumul_deceased                       0
current_isolated                      0
current_quarantined                   0
current_quarantined_riskareatravel    0
current_quarantined_total             0
dtype: int64

In [108]:
#Prepoccessing Data, we split the data to testing, hospital and quarantine
col_cases=['date','cantons','ncumul_tested','ncumul_conf']
col_hos=['date','cantons','new_hosp','current_hosp','current_icu','current_vent','ncumul_released','ncumul_deceased']
col_qua=['date','cantons','current_quarantined','current_quarantined_riskareatravel','current_quarantined_total']
#swiss_canton=df_swiss.groupby('abbreviation_canton_and_fl')
df_cases=df_swiss[col_cases]
df_hos=df_swiss[col_hos]
df_qua=df_swiss[col_qua]

In [115]:
#Visualization of Cases
df_cases.describe()

       ncumul_tested    ncumul_conf
count   14617.000000   14617.000000
mean    70074.208114   14536.656222
std     72395.013636   22767.087392
min         0.000000       0.000000
25%     25736.000000     833.000000
50%     37233.000000    3612.000000
75%     78885.000000   18169.000000
max    333082.000000  139938.000000